/* Main css reset rules
   ========================================================================== */

:root {
    --color-hex-white: #ffffff;
    --color-hex-juicy-citrus: #E1670E;
    --color-hex-citrus: #F90;
    --color-hex-light-citrus: #FFB84D;
    --color-hex-grey: #666666;
    --color-hex-wet-asphalt: #414141;
    --color-hex-light-grey:#CACACA;
    --color-hex-lightgray: #D3D3D3FF;
    --color-hex-black: #000;
}

/*var(--color-hex-citrus)*/

@font-face {
    font-family: 'Roboto';
    src: local('Montserrat-Regular'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Montserrat-Medium'),
    url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Montserrat-Bold'),
    url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
    line-height: normal;
}

button {
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    font-family: Roboto, serif;
    line-height: normal;
    background: var(--color-hex-white);
}

.visible:focus-visible {
    outline: 2px solid blue;
    outline-offset: 2px;
}

.invisible:focus-visible {
    outline-style: none;
}

/* Helpers
   ========================================================================== */

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.container-limit {
    max-width: 1110px;
}

/* Header
   ========================================================================== */

.header {
    width: 100%;
    background: #3F2AFF;
}

.header__items {
    max-width: 1110px;
    padding: 29px 0px 30px;
    justify-content: space-between;
}

.header__logo {
    max-height: 21px;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 56px;
}

.nav__link {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    letter-spacing: 0.1px;
}

/* Main
   ========================================================================== */
/* Hero
   ========================================================================== */

.hero {
    width: 100%;
    background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}

.hero__image {
    background: url("../img/hero.png") no-repeat 17px 15px;
    background-size: 95%;
}

.hero__header {
    margin-bottom: 27px;
    padding-top: 131px;

    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 60px */
}

.hero__text {
    margin-bottom: 63px;

    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.hero__button {
    margin-bottom: 130px;
    padding: 24px 75.5px;

    border: none;
    border-radius: 20px;
    background: #3F2AFF;

    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* About us
   ========================================================================== */

.about-us {
    margin-bottom: 64px;
    padding-top: 80px;
}

.about-us__first-block {
    margin-bottom: 7px;
}

.about-us__image1 {
    min-width: 160px;
    background: url(../img/aboutus1.png) no-repeat 15px 21px;
    background-size: auto;
}

.about-us__preferences {
    padding-left: 15px;
    list-style: none;
}

.about-us__header {
    margin-bottom: 16px;

    color: #2E2B44;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 40px */
}

.about-us__text {
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.about-us__preference {
    min-height: 80px;
    margin-right: 5px;
    align-items: center;
    flex-wrap: wrap;

    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}

.about-us__image2 {
    background: url(../img/aboutus2.svg) no-repeat;
    background-size: auto;
}

.about-us__image3 {
    background: url(../img/aboutus3.svg) no-repeat;
    background-size: auto;
}

.about-us__image4 {
    background: url(../img/aboutus4.svg) no-repeat;
    background-size: auto;
}

.about-us__image2,
.about-us__image3,
.about-us__image4 {
    padding-left: 110px;
}

/* Teachers
   ========================================================================== */

.teachers {
    min-height: 576px;
    background: #212133;
}

.teachers__container {
    max-width: 1110px;
    padding: 75px 0 72px 0;
}

.teachers__header {
    margin-bottom: 23px;

    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 40px */
}

.teachers__block {
    flex-direction: column;
}

.teachers__img {
    margin-bottom: 26px;
}

.teachers__photo {
    border-radius: 20px 20px 0px 0px;
    background: lightgray -25.75px -2.783px / 117.759% 126.481% no-repeat;
}

.teachers__name {
    margin-bottom: 8px;

    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
}

.teachers__description {
    color: #85859B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

/* Courses
   ========================================================================== */

.courses {
    margin-bottom: 50px;
    padding-top: 75px;
}

.courses__header {
    margin-bottom: 23px;

    color: #212133;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 40px */
}

.courses__block {
    position: relative;
    margin-bottom: 30px;
    padding: 210px 30px 30px 30px;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
}

.courses__timer {
    position: absolute;
    top: 13px;
    right: 4.5px;
    padding-left: 29px;

    display: inline-block;
    background-image: url(../img/timer.svg);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: left center;

    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.courses__block1 {
    background: url(../img/courses1.jpg) no-repeat top center;
    background-color: #EDF0F9;
    background-size: contain;
}

.courses__block2 {
    background: url(../img/courses2.jpg) no-repeat top center;
    background-color: #EDF0F9;
    background-size: contain;
}

.courses__block3 {
    background: url(../img/courses3.jpg) no-repeat top center;
    background-color: #EDF0F9;
    background-size: contain;
}

.courses__block4 {
    background: url(../img/courses4.jpg) no-repeat top center;
    background-color: #EDF0F9;
    background-size: contain;
}

.courses__name {
    margin-bottom: 9px;

    color: #212133;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
}

.courses__description {
    min-height: 96px;
    margin-bottom: 48px;

    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.courses__button {
    padding: 20.5px 59px;

    border: none;
    border-radius: 20px;
    background: #3F2AFF;

    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Footer
   ========================================================================== */

.footer__social-media {
    margin: 0;
    padding: 28px 0 24px 0;
    justify-content: center;
    list-style: none;
    gap: 30px;
    background: #2E2B44;
}

.footer__description {
    padding-top: 3px;
    text-align: center;

    color: #2E2B44;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.footer__copyright {
    color: #3F2AFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}