/* Main css reset rules
   ========================================================================== */

:root {
    --color-hex-white: #ffffff;
    --color-hex-strongblue: #3F2AFF;
    --color-hex-stronggrey: #2E2B44;
    --color-hex-lightgrey: #666;
    --color-hex-dirtwhite: #EDF0F9;
    --color-hex-heroback: #555681;
}

/*var(--color-hex-heroback)*/

@font-face {
    font-family: 'Roboto';
    src: local('Montserrat-Regular'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Montserrat-Medium'),
    url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Montserrat-Bold'),
    url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
    line-height: normal;
}

button {
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    font-family: Roboto, serif;
    line-height: normal;
    background: var(--color-hex-white);
}

.visible:focus-visible {
    outline: 2px solid var(--color-hex-strongblue);
    outline-offset: 2px;
}

.invisible:focus-visible {
    outline-style: none;
}

/* Helpers
   ========================================================================== */

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.container-limit {
    max-width: 1110px;
}

/* Header
   ========================================================================== */

.header {
    width: 100%;
    background: var(--color-hex-strongblue);
}

.header__items {
    padding-top: 29px;
    padding-bottom: 30px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header__logo {
    max-height: 21px;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 56px;
}

.nav__link {
    color: var(--color-hex-white);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    letter-spacing: 0.1px;
}

/* Main
   ========================================================================== */
/* Hero
   ========================================================================== */

.hero {
    width: 100%;
    background: -o-radial-gradient(67.78% 50.93%, 44.07% 49.07%, var(--color-hex-heroback) 0%, #212133 100%);
    background: radial-gradient(44.07% 49.07% at 67.78% 50.93%, var(--color-hex-heroback) 0%, #212133 100%);
}

.hero__image {
    background: url("../img/hero.png") no-repeat 492px 15px;
    background-size: 55.5%;
}

.hero__header {
    margin-bottom: 26px;
    padding-top: 131px;

    color: var(--color-hex-white);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 60px */
}

.hero__text {
    margin-bottom: 63px;

    color: var(--color-hex-white);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.hero__button {
    margin-bottom: 130px;
    padding: 24px 75.5px;

    border: none;
    border-radius: 20px;
    background: var(--color-hex-strongblue);

    color: var(--color-hex-white);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* About us
   ========================================================================== */

.about-us {
    margin-bottom: 64px;
    padding-top: 81px;
}

.about-us__first-block {
    margin-bottom: 7px;
}

.about-us__image1 {
    min-width: 160px;
    background: url(../img/aboutus1.png) no-repeat 15px 21px;
    background-size: auto;
}

.about-us__preferences {
    padding-left: 15px;
    list-style: none;
    gap: 5px;
}

.about-us__header {
    margin-bottom: 16px;
    padding-right: 250px;

    color: var(--color-hex-stronggrey);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 40px */
}

.about-us__text {
    color: var(--color-hex-lightgrey);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.about-us__preference {
    min-height: 80px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    color: var(--color-hex-lightgrey);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}

.about-us__image2 {
    background: url(../img/aboutus2.svg) no-repeat;
    background-size: auto;
}

.about-us__image3 {
    background: url(../img/aboutus3.svg) no-repeat;
    background-size: auto;
}

.about-us__image4 {
    background: url(../img/aboutus4.svg) no-repeat;
    background-size: auto;
}

.about-us__image2,
.about-us__image3,
.about-us__image4 {
    padding-left: 110px;
}

/* Teachers
   ========================================================================== */

.teachers {
    min-height: 576px;
    background: #212133;
}

.teachers__container {
    max-width: 1110px;
    padding: 75px 0 72px 0;
}

.teachers__header {
    margin-bottom: 23px;

    color: var(--color-hex-white);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 40px */
}

.teachers__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.teachers__img {
    margin-bottom: 26px;
}

.teachers__photo {
    border-radius: 22px 22px 0 0;
    background: lightgray -25.75px -2.783px / 117.759% 126.481% no-repeat;
}

.teachers__name {
    margin-bottom: 8px;

    color: var(--color-hex-white);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
}

.teachers__description {
    color: #85859B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

/* Courses
   ========================================================================== */

.courses {
    margin-bottom: 80px;
    padding-top: 75px;
}

.courses__header {
    margin-bottom: 23px;

    color: #212133;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 40px */
}

.courses__block {
    position: relative;
    padding: 210px 30px 30px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
}

.courses__timer {
    position: absolute;
    top: 13px;
    right: 4.5px;
    padding-left: 29px;

    display: inline-block;
    background-image: url(../img/timer.svg);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: left center;

    color: var(--color-hex-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.courses__block1 {
    margin-bottom: 30px;
    background: var(--color-hex-dirtwhite) url(../img/courses1.jpg) no-repeat top center;
    background-size: contain;
}

.courses__block2 {
    margin-bottom: 30px;
    background: var(--color-hex-dirtwhite) url(../img/courses2.jpg) no-repeat top center;
    background-size: contain;
}

.courses__block3 {
    background: var(--color-hex-dirtwhite) url(../img/courses3.jpg) no-repeat top center;
    background-size: contain;
}

.courses__block4 {
    background: var(--color-hex-dirtwhite) url(../img/courses4.jpg) no-repeat top center;
    background-size: contain;
}

.courses__name {
    margin-bottom: 9px;

    color: #212133;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
}

.courses__description {
    min-height: 96px;
    margin-bottom: 48px;

    color: var(--color-hex-lightgrey);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.courses__button {
    padding: 20.5px 59px;

    border: none;
    border-radius: 20px;
    background: var(--color-hex-strongblue);

    color: var(--color-hex-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Footer
   ========================================================================== */

.footer__social-media {
    margin: 0;
    padding: 28px 0 24px 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
    background: var(--color-hex-stronggrey);
}

.footer__description {
    padding-top: 3px;
    text-align: center;

    color: var(--color-hex-stronggrey);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.footer__copyright {
    color: var(--color-hex-strongblue);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
